@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro|Monoton");

.App {
  text-align: center;
  color: black;
}

.positonDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  overflow: hidden;
  background-image: url(./img/background);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  /* background-attachment: fixed; */
  background-color: #386C0B;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
  overflow:auto;
}

body {
  overflow: hidden;

  padding: 0;
  min-height: 100%;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-device-width: 767px){
  #root {
    height: inherit;
  }
  html{
    height: 115%;

  }
}
