@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro|Monoton");

.App {
  text-align: center;
  color:black;
}

.positonDiv{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}