.menubarContainer {
  position: sticky;
  top: 0;
  background: lightgrey;
  border-bottom: 1rem black solid;
  border-left: 1rem black solid;
  border-right: 1rem black solid;
  max-width: 80%;
  border-radius: 0 0 1.5rem 1.5rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}
.menuButton {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px;
  font-size: 34px;
}
.menuButton:hover {
  font-weight: bold;
}
.selected {
  font-weight: bold;
}
