.collaspesContents {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quarterBox {
  flex-grow: 1;
}
.halfBox {
  flex-grow: 2;
}
.resumeTitle {
  font-weight: bold;
  font-size: 20px;
}
.resumeExpander {
  padding-top: 20px;
}
.workTitle {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropArrow {
  margin-left: 5px;
  font-size: 16px;
}
.rotated {
  transform: rotate(180deg);
  transition: 0.1s;
}
.counterrotated {
  transform: rotate(0deg);
  transition: 0.1s;
}

@media (max-width: 700px) {
  .collaspesContents {
    flex-direction: column;
    width: 85%;
    margin: auto;
  }
}
